<div class="color-box" [ngStyle]="{'background' : color}">
  <div class="color-element-holder">
    <!-- <input [(ngModel)]="color" placeholder="color"/>
    <button (click)="saveColor()">save</button> -->
    <button (click)="getRandomColor()">Disco time!!!!</button>
    <button (click)="resetColor()">reset</button>
  </div>
  <!-- <p [ngStyle]="color == 'white' && {'color' : 'white'} || {'color' : 'black'}">{{color}}</p> -->
  <div class="flex-box nav-buttons">
    <button routerLink="form">Form</button>
    <button routerLink="reactiveform">Reactive form</button>
  </div>
  <router-outlet></router-outlet>
</div>