/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: 'Times New Roman';
}

h4{
    padding: 0px;
    margin: 0px;
}

p{
    margin: 0px;
}