/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: 'Times New Roman';
}

h4{
    padding: 0px;
    margin: 0px;
}

p{
    margin: 0px;
}

.is-invalid{
    border: 1px solid red;
}

.d-none{
    display: none;
}

.bold{
    font-weight: bold;
    /* background: transparent;
    border: none; */
}

.color-red{
    color:red;
}

.color-green{
    color:green;
}

.flex-box{
    display: flex;
}

.grid-2{
    display: grid;
    grid-template-columns: 60% 40%;
}